*{
	font-family:sans-serif;

}
h2{
	margin:0px;
	padding:50px 0px 50px 20px;
	float:left;
	box-sizing:border-box;
	font-size:18px;
	height:130px;
	width:8%;
	background-color:#40E0D0;
	border-color:#D1EEEE;
	border-width:1px;
	border-style:solid;
}
div.title{
	font-size:30px;
	font-weight:bold;
	color:#D1EEEE;
	background-color:grey;
	padding:20px 0px 20px 20px;
	border-color:#D1EEEE;
	border-width:2px;
	border-style:solid
}

.align div{
	display:inline-block;
	width:16%;
	font-weight:normal;
	padding-left:10px;

}
.align{
	padding-top:15px;
	box-sizing:border-box;
	height:130px;
	border-color:#D1EEEE;
	border-width:1px;
	border-style:solid
}

span{
	font-weight:bold;
}

.subtitle1,.subtitle2{
	font-size:15px;
	font-weight:bold;
	display:inline-block;
	padding-left:10px;

}

p{
   font-weight:normal;
   display:inline-block;
}
.ability1,.education1,.project1{

	box-sizing:border-box;
	height:40px;
	border-color:#D1EEEE;
	border-width:2px;
	border-bottom-width:0px;
	border-style:solid;
	padding-top:10px;

}
.ability1{
border-top-width:1px;
}
.ability2,.education2,.project2{

	box-sizing:border-box;
	height:90px;
	border-color:#D1EEEE;
	border-width:2px;
	border-top-width:0px;
	border-right-style:solid;
}

.project2{
	border-bottom-width:2px;
	border-style:solid;
}
