*{
	font-family:sans-serif;

}
div.title{
	font-size:35px;
	font-weight:bold;
}
h3{
	text-align:left;
}
div.ability1 {
	clear:left;
}

.align div{
	display:inline-block;
	margin-right:2%;
	width:25%;
	font-weight:normal;
}
div.education h2{
    margin:25px 0px;
}
div.ability h2{
    margin:25px 0px;
}
div.project h2{
    margin:25px 0px;
}
div.information{
	margin:25px 0px;
}
div.subtitle1{
	font-size:15px;
	font-weight:bold;
	
}
div.subtitle2{
	font-size:15px;
	font-weight:bold;
	
}
p{
   margin-top:5px;
   font-weight:normal;
}
